---
permalink: /about
title: Schuyler - About
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- PAGE TITLE -->
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.config.title }}{% endif %}</title>
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <!-- PAGE ICON -->
        {% if site.data.config.page_icon %}<link rel="shortcut icon" href="{{ site.data.config.page_icon }}" />{% endif %}
        <!-- LOAD OPEN SANS FONT -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <!-- LOAD FONTAWESOME ICONS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- LOAD ACADEMIC FONTAWESOME STYLE ICONS -->
        <link rel="stylesheet" href="/css/academicons/css/academicons.min.css"/>
        <!-- LOAD LOCAL CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}{{ '/css/main.css' }}">
    </head>
    <body class="home-page">
        <!-- BACKGROUND IMAGE -->
        <img src="{{ site.data.config.background }}" id="background">
        <!-- NAVIGATION BAR -->
        <div id="navmenu">
            <ul>
                {% for link in site.data.config.pages %}
                    {% assign class = nil %}
                    {% if page.url == link.url %}
                        <li><a class="active">{{ link.title }}</a></li>
                    {% else %}
                        <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- END NAVIGATION BAR -->

<!--    PAGE     -->

        <div class="content" >
        <div class="about-text">
            <p>
                Currently a Ph.D. candidate, I am working towards a degree in  
                <a href="https://www.bcb.iastate.edu/" target="_blank" >Bioinformatics and Computation Biology</a> at 
                <a href="https://www.iastate.edu/" target="_blank" >Iowa State University</a> in Ames, Iowa. My current plan is to graduate this summer, in 2021, and begin a new adventure outside of the graduate student life..
            </p>

            <p> 
                A member of the 
                <a href="http://germslab.org/" target="_blank" >GERMS lab</a>, in the department of 
                <a href="https://www.abe.iastate.edu/" target="_blank" >Agricultural and Biosystems Engineering</a>, our research focuses on environmental microbiomes and metagenomes; predominantly soil, but also water-systems, manure, plant-interactions, and even flower nectar.
            </p>

            <p> 
                 My research focuses heavily on data analysis and building tools and pipelines for reproducible research. I enjoy data exploration and answering questions through data, but I equally enjoy enabling other researchers to answer their own questions with useful tools. This is why I put together tools and packages such as the 
                 <a href="https://schuyler-smith.github.io/phylosmith/" target="_blank" >phylosmith</a>
                  package, along with others you may find on my GitHub.
            </p>
            <br>
            <p>
            <b><font size="+2">Reasearch Interests</font></b>
            <ul style="columns: 3; -webkit-columns: 3; -moz-columns: 3;">
                <li>Bioinformatics</li><br>
                <li>Genetics</li><br>
                <li>Genomics</li><br>
                <li>Microbiomes</li><br>
                <li>Metagenomics</li><br>
                <li>Quantitaitve Genetics</li><br>
                <li>GWAS</li><br>
                <li>QTL Studies</li><br>
                <li>RNA-Seq</li><br>
                <li>Machine Learning</li><br>
                <li>Data Science</li><br>
                <li>Data Visualisation</li><br>
                <li>Data Management</li><br>
                <li>Pipeline Development</li><br>
                <li>Reproducible Research</li>
            </ul>   
            </p>

            <p>
            <b><font size="+2">Education</font></b>
            <ul>
                <li>Ph.D. - Bioinformatics and Computational Biology
                    <br>
                    Department of Agricultural and Biosystems Engineering
                    <br>
                    Iowa State University - Ames, Iowa
                </li>
                <br>
                <li>M.S. - Quantitative Genetics
                    <br>
                    Department of Soil and Crop Sciences
                    <br>
                    Texas A&M University - College Station, Texas
                </li>
                <br>
                <li>B.S. - Genetics
                    <br>
                    College of Liberal Arts and Sciences
                    <br>
                    Iowa State University - Ames, Iowa
                </li>
            </ul>   
            </p>

            <br>

            <p>
            <b><font size="+2">Experience</font></b>
            <ul>
                <li>Graduate Research Assistant - Ph.D.
                    <br>
                    Genomics and Environmental Research in Microbial Systems Lab
                    <br>
                    Iowa State University - Ames, Iowa
                </li>
                <br>
                <li>Graduate Research Assistant - Ph.D.
                    <br>
                    Potato Breeding and Genetics Laboratory
                    <br>
                    University of Wisconsin-Madison, Madison, Wisconsin
                </li>
                <br>
                <li>Biological Science Technician - Internship
                    <br>
                    U.S. Arid Land Agricultural Research Center : USDA-ARS
                    <br>
                    Maricopa, Arizona
                </li>
                <br>
                <li>Graduate Research Assistant - M.S.
                    <br>
                    Maize Breeding and Genetics Program
                    <br>
                    Texas A&M University, College Station, Texas
                </li>
                <br>
                <li>Maize Breeding Intern
                    <br>
                    Monsanto Company
                    <br>
                    Huxley Research Station, Huxley, Iowa
                </li>
                <br>
                <li>Maize Product Trait Development Intern - 6 month
                    <br>
                    DuPont Pioneer
                    <br>
                    Willmar Research Station, Willmar, Minnesota
                </li>
                <br>
                <li>Undergraduate Research Assistant
                    <br>
                    Soybean Genomics Laboratory : USDA-ARS
                    <br>
                    Ames, Iowa
                </li>
            </ul>   
            </p>

            <br>

            <p>
            <b><font size="+2">Skills</font></b>
            <ul style="columns: 3; -webkit-columns: 3; -moz-columns: 3;">
                <li>R</li>
                <br>
                <li>C/C++</li>
                <br>
                <li>Python</li>
                <br>
                <li>Shell</li>
                <br>
                <li>HTML</li>
                <br>
                <li>SQL</li>
                <br>
                <li>LaTeX</li>
                <br>
                <li>Markdown</li>
                <br>
                <li>git</li>
                <br>
                <li>Linux</li>
                <br>
                <li>Windows</li>
                <br>
                <li>MacOS</li>
            </ul>   
            </p>

            <p> 
            <b><font size="+2">Personal Interests</font></b>
            <br>
            <br>
                Outisde of research, I have also been fortunate to have opportunities to travel to various parts of the world. Several trips ahave been birding with my father, others were for conferences. I like to document the places I have been, and the photos are displayed on the <a href="{{ site.baseurl }}/pages/photos">Travels</a> page here. I made this page mostly as a fun task in learning HTML, and a place to put photos to show family. 
                <br><br>
                In my recreational time, I enjoy strategy games, sci-fi/fantasy books, coffee, and going to the gym.
            </p>
        </div>
        </div>

<!--         -->

        <!-- MEDIA LIST -->
        <div id="medialist">
            <ul>
                {% for link in site.data.media %}
                    <li><a class="{{ link.icon }}" href="{{ link.url }}" target="_blank" ><span class="description">{{ link.title }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- END MEDIA LIST -->
</body>
</html>
