---
permalink: /pages/about
title: Schuyler - About
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.page_icon %}<link rel="shortcut icon" href="{{ site.page_icon }}" />{% endif %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/academicons/css/academicons.min.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}{{ '/css/main.css' }}">
    </head>

    <body class="subpage">
        <img src="/imgs/background.jpg" id="fullscreen">

        <div id="navmenu">
            <ul>
                {% for link in site.data.pages %}
                    {% assign class = nil %}
                    {% if page.url == link.url %}
                        <li><a class="active">{{ link.title }}</a></li>
                    {% else %}
                        <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="content" >
        <div class="about-text">
        <!-- http://www.html-color-names.com/color-chart.php -->
        <!-- #C8102E Cardinal -->
        <!-- #F1BE48 Gold -->
            <p>
                I am currently a Ph.D. student, working towards a degree in  
                <a href="https://www.bcb.iastate.edu/" target="_blank" >Bioinformatics and Computation Biology</a> at 
                <a href="https://www.iastate.edu/" target="_blank" >Iowa State University</a> in Ames, Iowa.
            </p>
            <p> 
                A member of the <a href="http://germslab.org/" target="_blank" >GERMS lab</a>, run by Dr. Adina Howe, in the department of 
                <a href="https://www.abe.iastate.edu/" target="_blank" >Agriculture and Biosystems Engineering</a>. Our research focuses on environmental microbiomes and metagenomes; predominantly soil, but also water-systems, manure, and even flower nectar.
            </p>

            <p> 
                My research pursuit has been producing analysis tools for reproducible research in microbiome studies. As part of this I have built an R-package for various common, but non-trivial, functions used in working with these datasets; including data curation, annotation, computation, and visualization. I have also developed various other research tools for my lab, all hosted on my Github page.
            </p>
 
            <p>
                My research story started with molecular genetics, working in a wet-lab conducting PCR and DNA sequencing analyses with bac-libraries for gene identification. After that, I moved towards quantitative genetics, working within plant breeding labs conducting computational analyses with marker data and plant populations. This work is where i found my interest in pipeline/tool development and decided the pursuit of a degree in Bioinformatics and Computational Biology better suited my skillset.
            </p>

            <p>
                Outside of research I have an interest in strategy games and fantasy/sci-fi novels. My favorite game series of all time is the <a href="https://civilization.com/" target="_blank" >Civilization</a> turn-based strategy series. Favorite books series: <a href="https://en.wikipedia.org/wiki/The_Kingkiller_Chronicle" target="_blank" ><i>the Kingkiller Chronicle</i></a> by Pattrick Rothfuss.
            </p>

            <p style="margin-bottom: 100px"> 
                In recent years I have also been fortunate to travel to various parts of the world. The more exotic places were on birding trips with my father, like the background picture I am using that I took at the <a href="http://www.canopytower.com/" target="_blank" >Canopy Tower</a> in Panama.
            </p>
        </div>
        </div>

        <div id="medialist-page">       
            <ul>
                {% for link in site.data.media %}
                    <li><a class="{{ link.icon }}" href="{{ link.url }}" target="_blank" ><span class="description">{{ link.title }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
</body>
</html>
