---
permalink: /pages/photos/
title: Schuyler - Photos
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/academicons/css/academicons.min.css"/>
        <link rel="stylesheet" href="{{ "/css/front.css" | prepend: site.baseurl }}">
    </head>

    <body>
        <div id="navmenu">
            <ul>
                <li><a href="/">Home</a></li>
                {% if site.page_1 %}
                    <li><a href="/pages/{{ site.page_1 }}">{{site.page_1}}</a></li>
                {% endif %}
                {% if site.page_2 %}
                    <li><a href="/pages/{{ site.page_2 }}">{{site.page_2}}</a></li>
                {% endif %}
                {% if site.page_3 %}
                    <li><a href="/pages/{{ site.page_3 }}">{{site.page_3}}</a></li>
                {% endif %}
                {% if site.page_4 %}
                    <li><a class="active" href="/pages/{{ site.page_4 }}">{{site.page_4}}</a></li>
                {% endif %}
                {% if site.page_5 %}
                    <li><a href="/pages/{{ site.page_5 }}">{{site.page_5}}</a></li>
                {% endif %}
                {% if site.page_6 %}
                    <li><a href="/pages/{{ site.page_6 }}">{{site.page_6}}</a></li>
                {% endif %}   
            </ul>
        </div>



</body>
